header.head
	.section
		.row.head-row
			.head-logo
				span G-Docs
			button.head-burger
				span
			nav.head-menu
				a(href='#') G-engine
				a(href='#') G-app
				a(href='#') Grammla
				a(href='#') ShopiApp
				.head-actions
					a(href='#').button Get started
					a(href='#').link Login
