:root
  --green getRgb(#00FF00)
  --black getRgb(#212121)
  --blue getRgb(#3E74FF)
  --gray getRgb(#C4C4C4)
  --red getRgb(#FF0000)
  // --==[ Шрифты ]==--
  --fontsize-body 14px
  // --==[ Отступы ]==--
  --col 70px
  --gap 30px
